name: Deploy Backend Application

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Login to docker hub
        run: docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Build Docker Image
        run: docker build -t rajataha/fyp-backend .
      - name: Publish Image to Docker Hub
        run: docker push rajataha/fyp-backend:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Pull Image from Docker Hub
        run: docker pull rajataha/fyp-backend:latest
      - name: Delete old container
        run: docker rm -f fyp-backend-container
      - name: Run Docker Container
        run: docker run -d -p 6000:6000 --name fyp-backend-container -e NODE_ENV='${{ secrets.NODE_ENV }}' -e MONGO_URI='${{ secrets.MONGO_URI }}' -e DB_NAME='${{ secrets.DB_NAME }}' -e JWT_SECRET='${{ secrets.JWT_SECRET }}' -e JWT_EXPIRES_IN='${{ secrets.JWT_EXPIRES_IN }}' -e PORT='${{ secrets.PORT }}' -e PROTOCOL='${{ secrets.PROTOCOL }}' -e HOSTNAME='${{ secrets.HOSTNAME }}' -e PORT='${{ secrets.PORT }}' rajataha/fyp-backend
